.container {
  width:100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}



.add-student-button {
  position: relative;
  top: 0;
  right: 0;
  margin: 12px;
  z-index: 10;
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-student-button:hover {
  background-color: #ff8533;
}

.carousel-container {
  margin:5px;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
 flex-wrap: wrap;
}

.family-img {
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.family-img img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  transition: filter 0.3s ease;
}

.family-img:hover img {
  filter: brightness(0.5);
}

.image-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  transition: bottom 0.3s ease;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.family-img:hover .image-details {
  height: auto;
  opacity: 1;
}

.details-content {
  padding: 20px;
  color: #333;
  text-align: center;
  transition: opacity 0.3s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.family-img:hover .details-content {
  opacity: 1;
}

.details-content h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #ff6600;
  text-align: left;
}

.details-content span {
  font-size: 14px;
  color: #666;
}

button.view-more-button {
  padding: 8px 16px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button.view-more-button:hover {
  background-color: #ff8533;
}

@media screen and (max-width: 900px) {
  .family-img img {
    width: 250px;
  }
}

@media screen and (max-width: 800px) {
  .family-img img {
    width: 200px;
  }
  .add-student-button {
    padding: 10px auto;
  }
}

@media screen and (max-width: 500px) {
  .family-img img {
    width: 150px;
  }

  .image-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 300px) {
  .family-img img {
    width: 100px;
  }

  .details-content h3 {
    font-size: 14px;
  }

  .details-content span {
    font-size: 12px;
  }

  button.view-more-button {
    padding: 6px 12px;
    font-size: 10px;
  }
}
