.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  width: 40px; /* Ajusta el tamaño según tus preferencias */
  height: 40px; /* Ajusta el tamaño según tus preferencias */
  border-radius: 50%;
  background-color: #25d366; /* Ajusta el color según tus preferencias */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.chat-icon:hover{
  background-color: #08401c;
  color: white;
}


.chat-container{
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 400px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
}

.minimize-button {
  background-color: #25d366;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
}


.chat-header {
  padding: 10px;
  background-color: #25d366;
  color: #fff;
  text-align: center;
  display: flex;
}

.chat-messages {
  padding: 10px;
  overflow-y: auto;
  height: 300px;
  z-index: 1000;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  width: 300px;
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  max-width: 70%;
}

.message-sender {
  font-weight: bold;
  margin-right: 5px;
}

.message-time {
  font-size: 0.8em;
  color: #777;
  margin-left: 5px;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}


.chat-input input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.chat-input button {
  background-color: #25d366;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.user {
  background-color: #e2f7cb;
  align-self: flex-end; 
}

.bot {
  background-color: #cfd8dc;
  align-self: flex-start; 
}