.container-special{
  width: 100%;
  height: 100vh;
  background-image: url('../../../Image/alumns_docente_cbta.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.special-ctn{
  background-color:var(--fondoNegro) ;
  height: 100vh;
  width: 100%;
  padding: 20px;
  position: relative;
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
  .circle-special{
   width: 300px;
   height: 300px;
   background-color: var(--blanco);
   box-shadow: 2px 2px 2px 21px var(--sombraBlanca);
   border-radius: 50%;
   top: 30%;
  left: 51%;
  transform: translate(-5%, -50%);
   text-align: center;
   justify-content: center;
   position: absolute;
   display: flex;
   flex-direction: column;
  padding: 20px;
  }
  .circle-special h3{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
  }
  .circle-special h2{
    font-size: 50px;
    font-weight: 500;
  }
  .circle-special p{
    color: var(--sombraNegra);
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    padding: 15px;
    text-align: center;
    width: 280px;
    top: 0;
    left: 10px;
    position: relative;
  }
 .logo-special{
  width: 100%;
  height: 20vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
 }

 
 .logo-special img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 11px var(--sombraBlanca);
  margin-left:70px;
 } 
 .logo-special  img:hover{
  transform: scale(1.3); 
  transition: transform 0.3s ease;
  box-shadow: 1px 1px 1px 1px var(--sombraNegra);
  border: 3px solid var(--borderBlack);
 }
 /*LOGOS DE LAS CARRERAS*/
 .logo-special img:nth-child(1) {
  position: relative;
  z-index: 1000;
}
.logo-special .logo-admin img:nth-child(1) {
  bottom: 300px;
  left: 390px;
}
.logo-special .logo-agricola img:nth-child(1) {
  bottom: 170px;
  left: 240px;
}
.logo-special .logo-agro img:nth-child(1) {
  bottom: 40px;
  left: 150px;
}
.logo-special .logo-alim img:nth-child(1),
.logo-special .logo-cont img:nth-child(1) {
  top: 80px;
  left: 120px;
}
.logo-special .logo-des img:nth-child(1) {
  bottom: 40px;
  left: 80px;
}
.logo-special .logo-ofit img:nth-child(1) {
  bottom: 170px;
  right: 20px;
}
.logo-special .logo-prog img:nth-child(1) {
  bottom: 300px;
  right: 160px;
}
 /*dates*/
 .dates-admin, .dates-agricola , .dates-agro, .dates-alim, .dates-cont , .dates-des , .dates-ofit, .dates-prog{
  display: none;
 }


/* Estilos para las fechas al lado de las imágenes */
.logo-special .dates-admin,
.logo-special .dates-agricola,
.logo-special .dates-agro,
.logo-special .dates-alim,
.logo-special .dates-cont,
.logo-special .dates-des,
.logo-special .dates-ofit,
.logo-special .dates-prog {
  display: none;
  position: absolute;
  width: 550px; /* Ajusta el tamaño */
  height: 120px; /* Ajusta el tamaño */
  background-color: var(--fondo);
  text-align: center;
  cursor: pointer;
  font-size: 1.3em;
  width: 91%;
  padding: 10px;
  margin: 4px;
  font-weight: bold;
  color: var(--letras_logos);
}

/*xx*/

/*admin*/
.logo-special .logo-admin img:nth-child(1):hover + .dates-admin {
  display: block;
   position: absolute;
  width: 550px; /* Ajusta el tamaño */
  height: 120px; /* Ajusta el tamaño */
  background-color: var(--fondo);
  top: 15px;
  left: 80px;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 80px; /* Ajusta el radio de esquina */
  border-bottom-right-radius: 80px; /* Ajusta el radio de esquina */
}
.dates-admin h2{
  font-size: 1em;
  width: 91%;
  padding: 10px 30px;
  margin: 4px;
  font-weight: bold;
  color: var(--letras_logos); 
}
/*agricola*/
.logo-special .logo-agricola img:nth-child(1):hover + .dates-agricola {
  display: block;
   position: absolute;
  width: 550px; /* Ajusta el tamaño */
  height: 120px; /* Ajusta el tamaño */
  background-color: var(--fondo);
  top: 240px;
  left: 20px;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 80px; /* Ajusta el radio de esquina */
  border-bottom-right-radius: 80px; /* Ajusta el radio de esquina */
}
.dates-agricola h2{
  font-size: 1.3em;
  width: 91%;
  padding: 10px 70px;
  margin: 4px;
  font-weight: bold;
  color: var(--letras_logos);
}
/*agropecuario*/
.logo-special .logo-agro img:nth-child(1):hover + .dates-agro {
  display: block;
   position: absolute;
  width: 550px; /* Ajusta el tamaño */
  height: 120px; /* Ajusta el tamaño */
  background-color: var(--fondo);
  top: 370px;
  left: 78px;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 80px; /* Ajusta el radio de esquina */
  border-bottom-right-radius: 80px; /* Ajusta el radio de esquina */
}
.dates-agro h2{
  font-size: 1.3em;
  width: 91%;
  padding: 10px 60px;
  margin: 4px;
  font-weight: bold;
  color: var(--letras_logos);
}
/*alimentos*/
.logo-special .logo-alim img:nth-child(1):hover + .dates-alim {
  display: block;
   position: absolute;
  width: 550px; /* Ajusta el tamaño */
  height: 120px; /* Ajusta el tamaño */
  background-color: var(--fondo);
  top: 490px;
  left: 201px;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 80px; /* Ajusta el radio de esquina */
  border-bottom-right-radius: 80px; /* Ajusta el radio de esquina */
}
.dates-alim h2{
  font-size: 1.3em;
  width: 91%;
  padding: 10px 80px;
  margin: 4px;
  font-weight: bold;
  color: var(--letras_logos);
}
/*contabilidad*/
.logo-special .logo-cont img:nth-child(1):hover + .dates-cont {
  display: block;
   position: absolute;
  width: 550px; /* Ajusta el tamaño */
  height: 120px; /* Ajusta el tamaño */
  background-color: var(--fondo);
  top: 490px;
  right: 170px;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 80px; /* Ajusta el radio de esquina */
  border-bottom-left-radius: 80px; /* Ajusta el radio de esquina */
}
.dates-cont h2{
  font-size: 1.3em;
  width: 91%;
  padding: 10px 30px;
  margin: 4px;
  font-weight: bold;
  color: var(--letras_logos); 
}
/*desarrollo*/
.logo-special .logo-des img:nth-child(1):hover + .dates-des {
  display: block;
   position: absolute;
  width: 550px; /* Ajusta el tamaño */
  height: 120px; /* Ajusta el tamaño */
  background-color: var(--fondo);
  top: 370px;
  right: 70px;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 80px; /* Ajusta el radio de esquina */
  border-bottom-left-radius: 80px; /* Ajusta el radio de esquina */
}
.dates-des h2{
  font-size: 1.3em;
  width: 91%;
  padding: 10px;
  padding-left: 90px;
  margin: 4px;
  font-weight: bold;
  color: var(--letras_logos); 
}
/*ofimatica*/
.logo-special .logo-ofit img:nth-child(1):hover + .dates-ofit{
  display: block;
   position: absolute;
  width: 550px; /* Ajusta el tamaño */
  height: 120px; /* Ajusta el tamaño */
  background-color: var(--fondo);
  top: 240px;
  right: 23px;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 80px; /* Ajusta el radio de esquina */
  border-bottom-left-radius: 80px; /* Ajusta el radio de esquina */
}
.dates-ofit h2{
  font-size: 1.3em;
  width: 91%;
  padding: 10px 30px;
  margin: 4px;
  font-weight: bold;
  color: var(--letras_logos); 
}
/*programacion*/
.logo-special .logo-prog img:nth-child(1):hover + .dates-prog{
  display: block;
   position: absolute;
  width: 550px; /* Ajusta el tamaño */
  height: 120px; /* Ajusta el tamaño */
  background-color: var(--fondo);
  top: 110px;
  right: 0;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 80px; /* Ajusta el radio de esquina */
  border-bottom-left-radius: 80px; /* Ajusta el radio de esquina */
}
.dates-prog h2{
  font-size: 1.3em;
  width: 91%;
  padding: 10px 30px;
  margin: 4px;
  font-weight: bold;
  color: var(--letras_logos); 
}


@media screen and(max-width:3000px) {

  .logo-special .logo-admin img:nth-child(1):hover + .dates-admin {
   position: absolute;
  top: 220px;
  left: 520px;
  transform: translate(100%-220px, 100%-520px);
}
}